@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cart-main{
    width: 70%;
}

.item-container{
    width: 100%;
}

.cart-item-header{ 
    display: flex;
    align-items: center;
    border-radius: 3px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
    height: 40px;
    width: 95%;
    margin-left: 10px;
    padding: 5px;
    background-color:#333333;
    color: #d5dde5;
    border-bottom: 4px solid #f58634;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

.cart-item-header-image{
    width: 7%;  
}

.cart-item-header-description{
    width: 50%;  
}
.cart-item-header-price{
    width: 10%;
}

.cart-item-header-subtotalprice{
    width: 15%;
}

.cart-item-header-count{
    width: 10%;
}

.cart-item{ 
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 3px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
    height: 100px;
    width: 95%;
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256,256, 0.1) ;
    text-align: center;
   
}

.cart-item-image{
    height: 50px;
}

.cart-item-article{
    height: 60%;
    width: 45%;
    margin-left: 3px;
    padding: 8px;
}
.cart-item-article h2{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #f58634;
    margin-bottom: 8px;
}
.cart-item-article p{
    width: 100%; 
    text-align: left; 
}
.cart-item-price{
    width: 15%;
}

.cart-item-subtotalprice{
    width: 15%;
}

.cart-item-count{
    width: 5%;
}

.cart-item-delete{
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    height: 20px;
    width: 6%;
    cursor: pointer;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 95%;
    margin-left: 10px;
    padding: 5px;
}

.btn-container .link-btn-seguir-comprando{
    width: 20%;
}
.btn-container .btn-seguir-comprando{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    margin: 10px 3px 0 0 ;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: #ebebeb;
    color: #63636b;
    transition: 0.3s;
    cursor: pointer;
}
      
.btn-container .btn-seguir-comprando:hover{
        background: #d7d7db;
        color: #63636b;
}

.btn-container .btn-vaciar-carrito{
    width: 20%;
    height: 30px;
    border-radius: 2px;
    margin: 10px 3px 0 0 ;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: #ebebeb;
    color: #63636b;
    transition: 0.3s;
    cursor: pointer;
}
      
.btn-container .btn-vaciar-carrito:hover{
        background: #d7d7db;
        color: #63636b;
}

.empty-cart-container{
    height: 150px;
    width: 100%;
}

.empty-cart-container p{
    height: 30px;
    width: 100%;
    margin: 10px 3px 0 20% ;
    font-size: 30px;
    color: #333333;

}

.empty-cart-container .btn-seguir-comprando{
    width: 30%;
    height: 30px;
    border-radius: 2px;
    margin: 30px 3px 0 20% ;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background:  #f58634;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
      
.empty-cart-container .btn-seguir-comprando:hover{
        background: #d7d7db;
        color: #63636b;
}