.btn-cart{
    background-color: #333333;
    border: none;
    transition: 0.5s;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.btn-cart:hover{
    background-color: #686876;
    
}

.cart-qty{
    background-color:crimson;
    border-radius: 50%;
    
}