.item-card {
    max-width: 30%;
    min-height: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: black;
  }

  .item-card img{
    width: 30%;
  }

  .item-card .item-title{
    font-size:1rem;
    font-weight: bold;
  }
