@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");

.itemcount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.itemcount{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 30px;
    background-color: white;
    border: 2px solid #f58634;
    border-radius: 5px;
    width: 200px;
    margin: 10px 15px;
    text-align: center;
}

.itemcount h3{
    width: 150px;
    color: #63636b;
}

.itemcount button{
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #63636b;
    font-family: "Mohave", sans-serif;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.itemcount button:hover{
    background-color: #f58634;
    color: white;
    
}

.btn-agregar{
    width: 200px;
    height: 40px;
    border: 2px solid #f58634;
    border-radius: 5px;
    background-color: white;
    color: #f58634;
    font-family: "Mohave", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-agregar:hover{
    background-color: #f58634;
    color: white;
}